//COLORS

$Dark-Violet: hsl(256, 26%, 20%);
$Grayish-Blue: hsl(216, 30%, 68%);
$Very-Dark-Violet: hsl(270, 9%, 17%);
$Dark-Grayish-Violet: hsl(273, 4%, 51%);
$Very-Light-Gray: hsl(0, 0%, 98%);
$White:#fff;

//UI

$background-hero:$Dark-Violet;
$background-cta-container:$Dark-Violet;
$background-mobile-menu:$Very-Dark-Violet;
$background-footer:$Very-Light-Gray;
$background-icon:$Grayish-Blue;

$color-text-white:$White;
$color-heading-white:$White;
$color-heading-dark:$Very-Dark-Violet;
$color-main:$Dark-Grayish-Violet;
$color-footer-dark:$Dark-Violet;
$color-footer-light:$Dark-Grayish-Violet;